[req]
default_bits = 4096
prompt = no
default_md = sha512
x509_extensions = v3_req
distinguished_name = dn

[dn]
C = MX
ST = NL
L = MTY
O = IT
OU = IT Department
emailAddress = webmaster@example.com
CN = localhost

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = *.localhost
DNS.2 = localhost
DNS.3 = localhost.local
DNS.4 = localhost.localdomain
DNS.5 = HP15-bs015la
IP.1 = 127.0.0.1

[req_ext]
keyUsage=digitalSignature
extendedKeyUsage=serverAuth
